button.button {
  width: 106px;
  height: 40px;
  font-size: 12px;
  line-height: 16px;
  padding: 12px 24px;
  border-radius: 8px;
  background-color: var(--rejectBackgroundButton);
  color: var(--rejectColorButton);
  cursor: pointer;
}

button.button:hover {
  background-color: var(--rejectBackgroundButtonHover);
  color: var(--rejectColorButtonHover);
}
